# Environment variables
.env
.env.*
!.env.example 
# keep the example file
logs/
*.log


# Composer dependencies
vendor/
/src/vendor/ 

# Docker volumes and generated data
database/mysql_data/
database/data/*.sql
!database/data/data.json  # Keep your source data.json

#IDE files
.idea/
.vscode/
*.swp
*.swo

#OS files
.DS_Store
Thumbs.db